<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuff</title>
<style>
    h1 {
        text-align: center;
        font-size: 200px;
        color: black;
    }

    body {
        color: red;
        font-family: impact;
        background-color: yellow;
    }
    img {
        margin-left: 0;
        margin-right: 0;
        img-size: 250px;
    }
    .left {
    float: left;
        font-size: 30px;
    }
    .right {
    float: right;
        font-size: 30px;
    }
</style>

</head>
<body>

<h1>CLIVE IS A S___k___D</h1>

<img src="601269.jpg">


</body>
</html>