<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuff</title>
<style>
    h1 {
        text-align: center;
        font-size: 200px;
        color: black;
    }

    body {
    color: red;
    font-family: impact;
    background-color: yellow;

    .left {
    float: left;
        font-size: 30px;
    }
    .right {
    float: right;
        font-size: 30px;
    }
</style>

</head>
<body>

<h1>CLIVE IS A SMACKHEAD</h1>
<h1>DARA LOVES CO**</h1>
<div class="left">
<ul>
    <li>How are you today</li>
    <li>I hope this finds you well</li>
    <li>Today is a nioce day</li>
    <li>We are lucky with the weather lately</li>
</ul>
</div>

<div class="right">
    <ol>
        <li>This is my first flask project</li>
        <li>It makes uploading projects easyish</li>
        <li>We will be using this alot in the future</li>
        <li>Happy Days !</li>
    </ol>
</div>


</body>
</html>